
@{
    ViewBag.Title  = "Quienes Somos";
}

<h2>¿Que es el registro de nacimiento?</h2>

<p>
    Es el proceso de incribir el nacimiento de un niño es un registro permanente y oficial de la existencia de un niño y su identidad
    esto consiste en un registro jurìdico del lugar donde nacio el niño y quienes son sus padres ya que esto es un requisito para que
    el niño, obtenga su prueba legal de identidad.
</p>

<p>
    El registro de nacimiento no sòlo es un derecho humano fundamental sono tambien contribuye a garantizar que se respeten los derechos
    de los niños con esto pretentemos proteger y desarrollar un futuro mejor para la niñes.
</p>

<div class="nacimiento">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8mKhXNGzk5T7a0cosG_T8jWJ33BHAtwKZo9ySSgLV3Ocan7b_12iZe39WzSxS9Eu2Trc&usqp=CAU" class="identidad" alt="img">
</div>

<h5>¿Quienes Somos?</h5>

<p>
    Somos una Empresa con una visìon que pretende dar aconocer lo que es el registro civil para la niñes con el unico objetivo de
    desarrollar un mejor bienestar social para las familias.
</p>


<div class="somos">
    <img src="https://oficinasdanubio.com.uy/wp-content/uploads/2020/08/Tramites-Municipales-en-Todo-El-Pa%C3%ADs.jpg" class="empresa" alt="img">
</div>