@{
    ViewBag.Title = "Mantengase Comunicado";
}

<address>
    Contactese para mayor imformacion<br />
    Somos una contitucion comprometida con el registro de las personas<br />
    <abbr title="Marque Ya"></abbr>
</address>

<address>
    <strong>Telefono de contacto:</strong>   <a href="Registro civil:Support@example.com">7845-9028</a><br />
    <strong>Correo electronico:</strong> <a href="Registro civil:Marketing@example.com">Registrocivil@gmail.com</a>
</address>

<img src="https://img.freepik.com/vector-gratis/empresaria-sala-conferencias-reuniones-presentacion-equipo-o-discusion-ilustracion-dibujos-animados-vector-gerente-nina-o-secretaria-cuaderno-telefono-sala-juntas-oficina-empresa_107791-8146.jpg?w=2000" class="img-fluid" alt="contactate">