@{
    ViewBag.Title = "titulo Registro Civil ";
    ViewBag.Title = "Login";
}

<div class="container">
    <h1 align="center" class="mititulo">Registro Civil</h1>
    <p>Registrate Aqui</p>
</div>

<div class="">
    nuevalindaygabi
    <img src="https://www.registrocivil.gob.ec/wp-content/uploads/2017/07/BANNER-CERTIFICADOS-ELECTRO%CC%81NICOS.jpg" class="imagendeIndex" alt="image">
</div>



